<%# @student created by set_student method in controller %>

<h1><%= @student.to_s %></h1>

<h2><%= @student.active %></h2>

<% if @student.active == false %>
    <p>This student is currently inactive.</p>
<% else %>
  <p>This student is currently active.</p>
<% end %>


    